* {
	padding: 0;
	margin: 0;
}


body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	position: relative;
	/*background: #000;*/
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	min-height: 320px;
	padding: 0 !important;
}

body.modal-open {
	overflow: auto;
}

.center{
	text-align: center;
}

.vhelper{
	float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
    margin-bottom: 10px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.col-xs-12, .col-sm-4, .col-md-4, .col-lg-4 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.wrapper {
	width: 100%;

}

.noPadd {
	padding: 0 !important;
}

.container .row {
	margin: 0;
}

.container{
	padding-top: 0;
	padding-bottom: 85px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 23px;
	font-weight: 400;
	margin: 0;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	line-height: 39px;
	padding-bottom: 0;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	color: #ffffff;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 32px;
	padding-bottom: 6px;
	font-weight: 400;
	margin: 0;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	line-height: 25px;
	padding-bottom: 6px;
	font-weight: 600;
	margin: 0;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 6px;
	font-weight: 400;
	margin: 0;
}

header {
	position: relative;
	width: 100%;
	height: 100%;
}

hr {
	padding-bottom: 85px;
	margin:0;
}

.heading {
	text-align: center;
	padding-top: 65px;
	padding-bottom: 60px;
}

.heading2 {
	text-align: center;
	padding-top: 15px;
	/*padding-bottom: 60px;*/
}

#home{
	height: 100vh;
}

.banner {
	overflow: hidden;
	margin: 0 auto !important;
	/*background: #1b1f2b;*/
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

.bannerText {
	/*height: 370px;*/
	position: absolute;
	text-align: center;
	/*padding: 30px 0 30px;*/
	max-width: 960px;
	color: white;
	zoom: 1;
	margin: auto;
	top: 12%;
	left: 0;
	bottom: 0;
	right: 0;
}

.bannerText h2 {
	font-size: 34px;
	text-transform: none;
	color: #FF8C00;
	padding: 20px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9800), to(#FF5722));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerPart {
	height: 100%;
	overflow: hidden;
}

.menu {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	/*background-color: #3C667A;*/
	/*background: #1976D2;*/
	background: #303F9F;
	border: 0;
}

.navbar .container{
	padding:0;
}

.navbar-header {
	display: none;
	height: 60px;
	padding: 0 18px;
}

.navbar-logo img{
	height: 60%;
	margin-top: 3%;
}

.nav > li > a {
	display: inline-block;
	height:60px;
}

.navbar-nav>li>a{
	padding-top: 22px;
}

.navbar-nav > li {
	float: none;
	display: inline;
}

.navbar-nav {
	margin: 0 auto;
	text-align: center;
	float: none;
}

.navbar-toggle {
	margin-top: 14px;
}

.navbar-inverse .navbar-toggle {
	border: 0;
}

.navbar-inverse .navbar-toggle {
	background: transparent;
}

.navbar-collapse {
	padding: 0;
	border: 0;
}

.navbar-collapse.in {
    overflow-y: visible;
    border: 0;
}

.navbar.navbar-inverse.navbar-static-top {
	margin: 0 auto;
	background: transparent;
	color: #fff;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.navbar.navbar-inverse.navbar-static-top a {
	color: #fff;
	line-height: 18px;
	text-align: center;
}

.navbar.navbar-inverse.navbar-static-top a:hover {
	color: #fff;
	background: #448AFF
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
	background: #448AFF;
	color: #fff;
}

.navbar-inverse .navbar-nav>.active>a:hover {
	background: #448AFF;
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}



a {
	color: #455A64;
}
.regButton {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	/*background: #455A64;*/
	background: #3F2576;
	padding: 15px 22px;
	display: inline-block;
	color: white;
}
.regButton a{
	color: #fff
}

.regHeader {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background: #2795BE;
	/*display: inline-block;*/
	color: white;
	position: relative;
	/*height: 10%;*/
}

.regButton:hover {
	background: #455A64;
}

#regModal{
	height: 100%;
}

.modal {
  width: 100%;
  height: 100%;
  padding: 10% 10% !important;
}

.modal-header h3{
	padding-bottom: 0;
}

.modal-body {
  height: 80%;
  border-radius: 0;
  padding: 0;
}

.sponsor-text{
	font-size: 20px;
line-height: 1.5;
text-align: center;
}

.sponsors a {
	color: #C8102E;
}

.sponsors p {
	padding-top:2%; padding-bottom:5%
}

.faq {
	/*background: #2196F3;*/
	color: #727272;
}

.faq h2 {
	color: #3F2576;
}
.faq h3 {
	color: #3F2576;
}

.faq .heading {
	padding-bottom: 70px;
}
.about {
	background: #ecf0f1;
	color: #212121;
}
.about h2 {
  color: #212121;
}

.sponsors {
	background: #FFFFFF;
	color: #000;
}

.sponsors h2 {
	color: #F57C00;
}

.sponsors h4 {
	font-weight: 700;
}

.sponsors img {
	max-width: 600px;
}

.sponsors-text{
	font-size: 24px;
	line-height: normal;
	color: #FF5722;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9800), to(#FF5722));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-btn a{
	color: white !important;
	text-decoration: none;
}
.contact-btn{
	padding: 10px;
	font-size: 32px;
	background: #F57C00;
background: -moz-linear-gradient(top, #F57C00 0%, #FF5722 100%);
background: -webkit-gradient(linear,left top, left bottom, color-stop(0%, #F57C00), color-stop(100%, #FF5722));
background: -webkit-linear-gradient(top, #F57C00 0%, #FF5722 100%);
background: -o-linear-gradient(top, #F57C00 0%, #FF5722 100%);
background: -ms-linear-gradient(top, #F57C00 0%, #FF5722 100%);
background: linear-gradient(top bottom, #F57C00 0%, #FF5722 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F57C00', endColorstr='#FF5722', GradientType=0 );
}
.contact-btn:hover{
	padding: 10px;
	font-size: 32px;
	background: #FF5722;
background: -moz-linear-gradient(top, #FF5722 0%, #F57C00 100%);
background: -webkit-gradient(linear,left top, left bottom, color-stop(0%, #FF5722), color-stop(100%, #F57C00));
background: -webkit-linear-gradient(top, #FF5722 0%, #F57C00 100%);
background: -o-linear-gradient(top, #FF5722 0%, #F57C00 100%);
background: -ms-linear-gradient(top, #FF5722 0%, #F57C00 100%);
background: linear-gradient(top bottom, #FF5722 0%, #F57C00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF5722', endColorstr='#FF5722', GradientType=0 );
}

.footer {
	background-color: #54585A;

}

.footer .container {
	padding: 40px;
}

#footerRight {
	text-align: right;
}
#footer a:hover{
	color
	: #F6BE00;
}



@media screen and (max-width: 991px) {
	.bannerText {
		padding-left: 25px;
		padding-right: 25px;
	}

	.bannerText h2 {
		font-size: 28px;
	}
}

@media screen and (max-width: 810px) {
	body {
		min-height: 700px;
	}
}

@media screen and (max-width: 768px) {
	#friday{
		margin-bottom: 15px;
		margin-left: 0;
	}
}

@media screen and (max-width: 767px) {
	.navbar-header {
		display: block;
	}

	ul.navbar-nav li a {
		display: block;
	}

	#footerRight{
		text-align: center;
	}

	.footer{
		text-align: center;
	}
}

#particles-js
 {
  /*background: #0D3A58;*/
  background: #FFFFFF;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.jumbo {padding: 1% 8% 0 8%;
  text-align: justify;
  line-height: 27px;}

.schedule {
	/*background: #1976D2;*/
	color: #ffffff;
	min-height: 400px;
}

.scheduleHead{
	background-color: #F6BE00;
	text-align: center;
	vertical-align: middle;
}

.scheduleHead h5{
	font-size: 24px;
	margin-bottom: -6px;
}

#friday{
	background-color: #eee;
	margin-right: 20px;
	margin-left: -20px;
}

#saturday{
	background-color: #eee;
	margin-right: -20px;
}
.schedule h2{
	color: #fff
}


/*Triangles*/
.left-tr{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 180px 0 0 51vw;
	/*border-color: transparent transparent transparent #007bff;*/

}
.right-tr{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 180px 51vw;
	/*border-color: transparent transparent #007bff transparent;*/
}

.arrow{
  position: relative;
  width: 0;
height: 0;
border-style: solid;
border-width: 180px 50vw 0 50vw;

}


.orange-main-tri-left{border-color:transparent transparent transparent #FF5722;}
.orange-main-tri-right{border-color: transparent transparent #FF5722 transparent;}
.orange-main-tri{border-color: #FF5722 transparent transparent transparent;}

.orange-light-tri-left{border-color: transparent transparent transparent #F57C00 ;}
.orange-light-tri-right{border-color: transparent transparent  #F57C00 transparent;}
.orange-light-tri{border-color: #F57C00 transparent transparent transparent;}

.orange-lighter-tri-left{border-color: transparent transparent transparent #C5CAE9 ;}
.orange-lighter-tri-right{border-color: transparent transparent  #C5CAE9 transparent;}
.orange-lighter-tri{border-color: #C5CAE9 transparent transparent transparent;}

.white-tri{border-color: #FFFFFF transparent transparent transparent;}

.orange-main-bg{ background: #FF5722;}
.orange-light-bg{ background: #F57C00;}
.orange-lighter-bg{ background: #C5CAE9;}
.orange-grad-bg{background: #F57C00;
background: -moz-linear-gradient(top, #F57C00 0%, #FF5722 100%);
background: -webkit-gradient(linear,left top, left bottom, color-stop(0%, #F57C00), color-stop(100%, #FF5722));
background: -webkit-linear-gradient(top, #F57C00 0%, #FF5722 100%);
background: -o-linear-gradient(top, #F57C00 0%, #FF5722 100%);
background: -ms-linear-gradient(top, #F57C00 0%, #FF5722 100%);
background: linear-gradient(top bottom, #F57C00 0%, #FF5722 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F57C00', endColorstr='#FF5722', GradientType=0 );}


/*custom bootstrap classes*/
.navbar{
	    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a{
    color: #3F2576;
    font-weight: 600;
}
.no-padding{ padding: 0 0 0 0;}
.rl-margin{
	margin-left: 10%;
	margin-right: 10%;
}
.shadow{
/*	-webkit-box-shadow: 5px 5px 22px 0px rgba(114,114,114,1);
	-moz-box-shadow: 5px 5px 22px 0px rgba(114,114,114,1);
	box-shadow: 5px 5px 22px 0px rgba(114,114,114,1);
*/
-webkit-filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.5));
	filter: url(shadow.svg#drop-shadow);
	}
.shadow-up{
/*	-webkit-box-shadow: 5px 5px 22px 0px rgba(114,114,114,1);
	-moz-box-shadow: 5px 5px 22px 0px rgba(114,114,114,1);
	box-shadow: 5px 5px 22px 0px rgba(114,114,114,1);
*/
-webkit-filter: drop-shadow(0px -5px 2px rgba(0,0,0,0.5));
	filter: url(shadow.svg#drop-shadow);
	}

.logo, .logo-img{
	 display: none;
	 width: 100px
}
.register-menu{
	display: none;
	/*width: 120px;*/
	padding: 10px 13px;
}
img.bg {
			/* Set rules to fill background */
			min-height: 100%;
			min-width: 1024px;

			/* Set up proportionate scaling */
			width: 100%;
			height: auto;

			/* Set up positioning */
			position: absolute;
			top: 0;
			left: 0;
		}

		@media screen and (max-width: 1024px){
			img.bg {
				left: 50%;
				margin-left: -512px; }
		}
/*html{
	background: url(../images/Cover.png) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}*/